<div class="container" align = 'center'><h4><strong>{{nome}}</strong></h4></div>
<div class="container" align = 'center'><p>{{descrizione}}</p></div>
<br>
<div class="container" align = 'center'><p>{{descrizione2}}</p></div>
<div class="container" align = 'center'><p appHighlightDate> {{date}}</p>
</div>
<div class="row">
    <div class="col">
      <div class="card" style="width:400px; margin-left: auto; margin-right: auto;">
        <img class="card-img-top" src="{{immagine1}}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{opera}}</h4>
          <p class="card-text">{{descrizioneopera}}</p>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card" style="width:400px; margin-left: auto; margin-right: auto;">
        <img class="card-img-top" src="{{immagine2}}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{opera2}}</h4>
          <p class="card-text">{{descrizioneopera2}}</p>
        </div>
      </div>
    </div>
  </div>
  