<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
<div class ="sfondo"><h3  class="container" align="center"><span style="color: white;">BENVENUTI AL <span style="color: blueviolet;">"MUSEO DEL 1930"</span>  </span></h3>
    <h3  class="container" align="center"><span style="color: white;"> VIENI A TROVARCI PER UNA MOSTRA  <span style="color: blueviolet;">MAI VISTA PRIMA</span> CON VARIE OPERE CHE POSSONO TRASPORTARTI NEL 1930 </span></h3>
</div>
