<nav class="navbar navbar-expand-sm navbar-dark bg-black" align="center" style="background-color: black;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="mynavbar">
      <form class="d-flex justify-content-center">
      </form>
      <button type="button" class="btn btn-light" style="width:200px; margin-left: 20%; margin-right: 20%; border: 2px solid white;" routerLink="/Home">HOME</button>
      <button type="button" class="btn btn-light" style="width:200px; margin-left: 20%; margin-right: 20%; border: 2px solid white;" routerLink="/Mostre">MOSTRE</button>
    </div>
  </div>
</nav>

    
