<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
<div class="container">
  <div class="card-container">
    <div class="card card-rimpicciolita d-flex justify-content-center align-items-center" *ngFor="let element of provaService.mostre index as i">
      <div class="card-header" >
        <img class="card-img-top" style="width: 400px;" align="center"  src="{{element.immagine}}" alt="Card image">
          <h4 class="card-title" align="center"><strong>{{element.nome}}</strong></h4>
      </div>
          <div class="card-body" >
            <p class="card-text"><strong>NOME ARTISTA:</strong>{{element.artista}}</p>
            <p class="card-text"><strong>DESCRIZIONE:</strong>{{element.descrizione}}</p>
            <p class="card-text"><strong>DATE:</strong>{{element.date}}</p>
          </div>
    </div>
  </div>
  <button type="button" class="btn " style="margin-left: 45%; background-color: greenyellow;" (click)="mostre()">più informazioni</button>
</div>
<p></p>
    